/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Predefined CSS*/
.size-1{
	font-size: 2.5em;
}
.size-2{
	font-size: 1.5em;
}
.upper{
	text-transform: uppercase;
	font-weight: bold;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{ 
	background: #fff;
}
.poppins{
	font-family: 'Poppins', sans-serif;
}
.line{
	height: 10px;
	width: 80%;
	background-color: orange;
	border-radius: 30px;
}
.hover-white:hover{
	color: white;
}

/*Main Wrapper*/
#main-wrapper{
	font-family: 'Raleway', sans-serif;
}
/*Intro Section*/
#intro{

}

#works{
	text-align: center;
}

#profile-avatar{
	height: 200px;
}

#contact-info{
	background-color: orange;
	padding: 10px;
	font-size: 0.9em;
	border-radius: 10px;
	width: 250px;

}
/*Progress*/
#html,
#bootstrap,
#php{
	width: 75%;
}
#css,
#javascript,
#mysql,
#laravel{
	width: 70%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#astro{
	width: 100%;		
	height: 250px;
	}
	#intro-right{
		text-align: center;
	}
	#greetings{
	font-size: 0.8em;
}
	.hide-mobile{
		display: none;
	}
	.portfolio-container{
		position: relative;
		top: -60px;
	}
	.capstone-title{
	font-size: 2em;
	color: orange;
	}
	.ul-mob{
		margin-left: 10px;
	}
	.line-desktop{
		height: 10px;
		width: 80%;
		background-color: orange;
		border-radius: 30px;
	}
	#social{
		margin-left: 35%;
	}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
		#astro{
		width: 100%;
		height: 500px;
	}
	#intro-right{
		font-size: 2em;
	}
	.portfolio-container{
		position: relative;
		top: -80px;
	}
	.hide-desktop{
		display: none;
	}
	.show-mobile{
		display: block;
	}
		.capstone-title{
	font-size: 3em;
	color: orange;
	}

	
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.capstone-title{
	font-size: 3em;
	color: orange;
	}
	.line-desktop{
		height: 10px;
		width: 80%;
		background-color: orange;
		border-radius: 30px;
	}
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.capstone-title{
	font-size: 3em;
	color: orange;
	}
	.line-desktop{
		height: 10px;
		width: 40%;
		background-color: orange;
		border-radius: 30px;
	}
		
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}